body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/background");
  background-repeat: repeat;
}

.main {
  margin-top: 10vw;
}

.form {
  text-align: center;
}

.strokeme {
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

video.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.content {
  z-index: 1;
  max-width: 500px;
  margin: auto;
}

.videoButton {
  height: 100px;
  width: 200px;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: large;
  background-color: grey;
}

.k9pic {
  display: block;
}

@media (max-aspect-ratio: 4/3) {
  body {
    text-align: center;
  }
  .k9pic {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
