.topnav a.active {
  background-color: #535353;
  color: rgb(255, 255, 255);
}
.navbar-brand {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar-brand img {
  height: 80px;
  margin: 0;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown .dropbtn {
  font-size: 32px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(59, 59, 59);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #646464;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* New style for mobile devices */
@media (max-aspect-ratio: 4/3) {
  .dropdown {
    float: none;
  }
  .navbar {
    overflow: visible;
  }
  .navbar a,
  .dropdown .dropbtn {
    display: block;
    text-align: left;
  }
  .navbar a {
    border-bottom: 1px solid #ddd;
  }
  .dropdown {
    position: relative;
  }
  .dropdown-content {
    position: static;
    display: none;
    overflow: visible;
    box-shadow: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
