body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/background");
  background-repeat: repeat;
}

.main {
  margin-top: 10vw;
}

.prevent-select {
  user-select: none;
}

@media (max-aspect-ratio: 4/3) {
  body {
    text-align: center;
  }
}
